/* Page Container */
#about {
  margin: auto;
  width: 70vw;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 2vw;
}
/* About Content Container - both columns */
#about-wrapper {
  display: flex;
}
/* About All Things Rams */
#about-title {
  font-family: "Graduate", cursive;
  font-size: 2vw;
  color: rgb(4, 9, 135);
  padding-top: .75vw;
}
/* About Paragraph */
#about-head p {
  max-width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  text-align: justify;
}
#about-head {
  margin-left: 2vw;
}
/* ---------------------------------------------------------- */

/* Our Team */
#team-wrapper h2 {
  font-family: "Graduate", cursive;
  color: white;
  background-color: rgba(3, 7, 124);
  padding: 0.5vw;
  border-radius: 5px;
  font-size: 1.5vw;
  margin-top: 7vw;
  margin-right: 2vw;
  
}

/* Team member about paragraph */
.staff-about p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9vw;
  text-align: justify;
  width: 25vw;
  padding-left: 1vw;
  padding-right: 4vw;
}

/* Team member name */
.staff-about h3 {
  margin-left: 1vw;
  font-size: 1.1vw;
}

/* Right column container for image and text */
.staff {
  display: flex;
}

/* Photograph of team member */
.about-photo{
    max-width: 12.25vw;
    margin: 1vw;
    border: 3px solid rgba(255, 201, 92);
    border-radius: 10px;
}

/* ---------- Media Query --------- */

@media screen and (max-width: 800px){
  #about-wrapper {
    display: flex;
    flex-direction: column;
  }#team-wrapper h2 {
    font-family: "Graduate", cursive;
    color: white;
    background-color: rgba(3, 7, 124);
    padding: 0.5vw;
    border-radius: 5px;
    font-size: 1.5vw;
    margin-top: 3vw;
    margin-right: 2vw;
    margin-left: 2vw;
  }
  #about-head p{
    max-width: 100%;
    margin-right:2vw;
  }
  .staff{
    justify-content: center;
    
  }
  .staff-about p{
    width: 45vw;
  }

}