/* CSS Changes by element */
input {
  border: none;
  border-bottom: black solid 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75vw;
  margin: 0.75vw 3.5vw;
}

textarea {
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3vw;
  margin-bottom: 1vw;
  margin-top: 1.5vw;
  padding: 7px;
  border: 2px solid rgb(255, 201, 92);
  border-radius: 5px;
  font-size: 0.75vw;
}

/* Changes by Id */
/* Title of Page */
#contact {
  font-family: "Graduate", cursive;
  font-size: 2vw;
  color: rgb(4, 9, 135);
  margin-left: 3vw;
  padding-top: 2vw;
}

/* paragraph text */
#suggestions {
  font-family: Arial, Helvetica, sans-serif;
  width: 34%;
  margin-left: 3vw;
  font-size: 0.9vw;
  text-align: justify;
}

#suggest-tag{
  font-family: Arial, Helvetica, sans-serif;
  width: 34%;
  margin-left: 3vw;
  font-size: 0.9vw;
  /* text-align: justify; */
  color:rgb(3, 7, 124);
  font-style: italic;
  
}

/* Button */
#submit {
  padding: 0.75vw;
  font-size: 0.75vw;
  color: white;
  background-color: rgb(3, 7, 124);
  border: none;
  border-radius: 0.25rem;
  font-family: "Graduate", cursive;
  box-shadow: 2px 5px 5px 1px rgb(132, 132, 132);
  margin-left: 4vw;
  margin-bottom: 1.5vw;
  transition-duration: 0.5s;
}

/* Button on Hover */
#submit:hover {
  background-color: rgb(220, 218, 218);
  color: rgb(3, 7, 124);
  transition: 0.7s;
}

/* message box */
#message {
  min-width: 36%;
  height: 180px;
}

/* wrapper on entire container */
#mega-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

/* CSS Changes by Class Name */
/* Outer Container for form */
.form-container {
  margin: auto;
  max-width: 50%;
  min-width: 50%;
  /* use image in styles folder as background */
  background-image: url("./sofiStadium.png");
  background-size: cover;
  background-color: white;
  border-radius: 5px;
}

button[disabled] {
  background-color: rgb(3, 7, 124);
  opacity: 60%;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .form-container {
    background-color: white;
  }
  /* text */
  #suggestions {
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: 3vw;
    font-size: 0.84vw;
  }
  #suggest-tag{
    font-family: Arial, Helvetica, sans-serif;
    width: 70%;
    margin-left: 3vw;
    font-size: 0.84vw;
  }
  /* message box */
  #message {
    min-width: 70%;
    height: 180px;
  }
  /* button */
  #submit {
    padding: 0.75vw;
    font-size: 0.7vw;
    margin-bottom: 3vw;
  }
}
