/* -------------BULLETIN GRID STYLING-------------- */
#grid {
  display: grid;
  justify-content: center;
  align-items: start;
  width: 85%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  grid-auto-rows:minmax(auto, max-content);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "feat feat feat feat news news"
    "feat feat feat feat news news"
    "googlead2 googlead2 googlead2 googlead2 googlead2 googlead2"
    "twitter twitter instagram instagram survey survey"
    "twitter twitter instagram instagram videos videos"
    "googlead googlead googlead googlead googlead googlead";
    /* "podcast podcast . . . ."; */
}

/* Media Query for Mobile Device Design */

@media only screen and (max-width: 600px) {
  #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 800px) {
  #grid {
    grid-template-columns: repeat(6, 1fr);

    grid-template-areas:
    "feat  feat feat feat news news"
    "feat  feat feat feat news news"
    "googlead2 googlead2 googlead2 googlead2 googlead2 googlead2"
    "twitter twitter twitter twitter survey survey"
    "instagram instagram instagram instagram videos videos"
    "googlead googlead googlead googlead googlead googlead";

  }
}

/* default container styling */

.container-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #040762;
  color: #ffffff;
  border-top: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
  padding: 0.5rem;
}

.container-header h2 {
  font-family: "Graduate";
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}

.container-content {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}

.hidden {
  display: none !important;
}

.during-popup {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
