/* -------------BULLETIN GRID STYLING-------------- */



#grid {
  display: grid;
  /* box-sizing: border-box; */
  justify-content: center;
  /* flex-grow: 1; */
  /* max-height: 100%;   */
  max-width: 80%;
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  /* grid-template-rows: 3fr 1fr 1fr 2fr 1fr 3fr; */
  grid-template-rows: 50vh 20vh 40vh 40vh 20vh 75vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "feat feat feat feat feat feat news news news"
    "googlead2 googlead2 googlead2 googlead2 googlead2 googlead2 googlead2 googlead2 googlead2"
    "podcast podcast podcast customnews customnews customnews jppicks jppicks jppicks "
    "podcast podcast podcast customnews customnews customnews videos videos videos"
    "googlead googlead googlead googlead googlead googlead googlead googlead googlead"
    "twitter twitter twitter tiktok tiktok tiktok instagram instagram instagram";

    
    /* "podcast podcast . . . ."; Joey+Pierson's picks, article*/
}


/* Media Query for Mobile Device Design */

@media only screen and (max-width: 900px) {
  #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #socials-wrapper{
    grid-area: socials;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap:2vw;
    width:100%;
  }
}
/* @media only screen and (max-width: 1000px) {
  #grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "feat feat feat feat feat feat"
    "news news news news news news"
    "googlead2 googlead2 googlead2 googlead2 googlead2 googlead2"
    "tiktok tiktok tiktok tiktok twitter twitter"
    "instagram instagram instagram instagram twitter twitter"
    "googlead googlead googlead googlead googlead googlead"
    "jppicks jppicks jppicks podcast survey survey"
    "customnews customnews customnews podcast videos videos";
  }
} */


/* default container styling */

.container-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #040762;
  color: #ffffff;
  border-top: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
  padding: 0.5rem;
}

.container-header h2 {
  font-family: "Graduate";
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}

.container-content {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
  max-height:100%;
  overflow-y:auto;
  overflow-x:hidden;
  /* align-items: start; */
}

.container-content::-webkit-scrollbar {
  width: 20px;
}

.container-content::-webkit-scrollbar-track {
  border-radius: 100px;
}

.container-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}


.hidden {
  display: none !important;
}

.during-popup {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
