#custom-news {
  grid-area: customnews;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#custom-news-content {
  max-height:30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#custom-news-content::-webkit-scrollbar {
  width: 20px;
}

#custom-news-content::-webkit-scrollbar-track {
  border-radius: 100px;
}

#custom-news-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

a {
  text-decoration: none;
  display: grid;
}

h3.article-title {
  padding-left: 2vw;
  /* font-size: 2vh; */
  /* font-family: "Graduate", cursive; */
  color: rgb(4, 9, 135);
}

.source {
  padding-bottom: 1vw;
  display: grid;
}

p.source {
  width: 100%;
  font-size: 0.75rem;
  border-bottom: 3px solid rgb(4, 9, 135);
}

