#custom-news {
  grid-area: customnews;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#custom-news-content {
  max-height: 79vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

#custom-news-content::-webkit-scrollbar {
  width: 20px;
}

#custom-news-content::-webkit-scrollbar-track {
  border-radius: 100px;
}

#custom-news-content::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

a {
  text-decoration: none;
  display: grid;
}

h3.article-title {
  padding-left: 1.75vw;
  /* font-size: 2vh; */
  /* font-family: "Graduate", cursive; */
  color: rgb(4, 9, 135);
}

#original-title {
  font-size: 2.5vh;
  margin-left: -.25vw;
}
.source {
  padding-bottom: 1vw;
  display: grid;
}

p.source {
  width: 100%;
  font-size: 1vw;
  border-bottom: 3px solid rgb(4, 9, 135);
}

/* Link/button to submissions page */
#review-button {
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.25vw;
  margin-left: 0.15vw;
  max-width: 15.5vw;
  padding: 0.15vw 0.15vw 0.15vw 0.3vw;
  font-size: 0.9vw;
  border-radius: 0.25rem;
  font-weight: 600;
  background-color: rgb(220, 218, 218);
  color: rgb(3, 7, 124);
}

#review-button:hover {
  background-color: rgb(255, 201, 92);
  color: rgb(3, 7, 124);
  transition: 0.7s;
}
.custom-article-content {
  padding: 0vw 1.5vw 0vw 1.5vw;
  text-align: justify;
  font-size: 1.1vw;
  text-indent: 2.5vw;
  line-height: 1.5vw;
}
@media only screen and (max-width: 800px) {
  .custom-article-content {
    font-size: 1.75vw;
  }
  #custom-news-content {
    max-height: 40vw;
  }
  p.source {
    font-size: 1.5vw;
  }
  #review-button {
    font-size: 0.9vh;
    max-width: 15vw;
  }
}
#article-source {
  border-bottom: 3px solid rgb(255, 201, 92);
  margin-top: -0.5vw;
}
