#featured-news-container {
  grid-area: feat;
}

#carousel-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
}

#carousel{
  padding:2rem;
  width:50vw;
}

.carousel-img {
  height: 50vh;
  object-fit: fill;
  margin:auto;
}
