#featured-news-container {
  grid-area: feat;
  grid-template-rows: 1fr 0.25fr
}

#feat.container-content {
  height: 47.5vh;
}
#carousel-wrapper{

  /* max-height:100%; */
  padding: 1.5rem 3rem;
}

.carousel-item{
  position: relative;
}

.carousel-img{
  max-height:30vh;
  object-fit: cover;
  max-width: 100%;
  /* max-height: 100%; */
  margin:0 auto;
  padding:0;
  justify-content: center;
  align-items: center;
}

.carousel-article-title{
  padding: 0.5vw;
  /* position: absolute; */
  bottom: 0;
  left:5%;
  background-color: rgba(255, 255, 255, 0.796);
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:80%;
}

.carousel-logo-and-title{
  display:flex;
  align-items:center;
}

.carousel-news-logo{
  padding:0.2rem;
}

.carousel-logo-and-title h3{
  font-family: "Graduate", cursive;
  padding:0.2rem;
  font-size: 1.5vh;
}

.carousel-source {
  font-style:italic;
  text-align:left;
  margin:0;
  margin-right:25px;
  font-size: 1vh;
}

/* .slick-prev{
  width:0;
  height:0;
}
.slick-next{
  width:0;
  height:0;
} */

@media only screen and (max-width: 900px){
  #carousel-wrapper{
    margin:0;
    padding: 0;
    width:100%;
  }
  #featured-news-container {
    width:100%;
  }
  #feat.container-content {
    height: fit-content;
  }

  .carousel-img{
  width: 100%;
  max-height:50vh;
  margin:0 auto;
  margin-top: 3vw;
  padding:0;
  }
  .carousel-article-title{
  font-size:1vw
  }
  .slick-prev:before,
  .slick-prev{
    display: none;
    
  }
  .slick-next:before,
  .slick-next {
    display:none;
  }
}