#featured-news-container {
  grid-area: feat;
}

#carousel-wrapper{
  padding:2rem 3rem;
}

.carousel-item{
  position: relative;
}

.carousel-img{
  height: 50vh;
  width:90%;
  margin:0 auto;
  padding:0;
}

.carousel-article-title{
  padding: 0.5vw;
  position: absolute;
  bottom: 0;
  left:5%;
  background-color: rgba(255, 255, 255, 0.796);
  display:flex;
  flex-direction: column;
  width:90%;
}

.carousel-logo-and-title{
  display:flex;
  align-items:center;
}

.carousel-news-logo{
  padding:0.2rem;
}

.carousel-logo-and-title h3{
  padding:0.2rem;
}

.carousel-source {
  font-style:italic;
  text-align:right;
  margin:0;
  margin-right:25px;
  font-size: 0.75vw;
}