.google-ad {
  grid-area: googlead;
  margin-bottom:1rem;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.ad-wrapper {
  padding: 2rem;
  background-color: aliceblue;
}
