
#instagram-container {
  grid-area: instagram;
  margin:1rem;
}




#instagram-embed {
  margin:1rem;
}

#instagram-wrapper {
  height: 55vh;
  width:100%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#instagram-wrapper::-webkit-scrollbar {
  width: 20px;
}

#instagram-wrapper::-webkit-scrollbar-track {
  border-radius: 100px;
}

#instagram-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}