#news-container {
  grid-area: news;
  flex-direction: column;
  flex-grow: 1;

  max-width:40vh;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#latest-news {
  max-height: clamp(46vh, 1.5rem, 25vh);

  width:100%;
  position: relative;
  overflow-y:auto;
  overflow-x: hidden;
  flex-direction: column;
  flex-grow: 1;
}

#latest-news::-webkit-scrollbar {
  width: 20px;
}

#latest-news::-webkit-scrollbar-track {
  border-radius: 100px;
}

#latest-news::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

a {
  text-decoration: none;
  display: grid;
}
.news-header {
}
.logo-container {
  grid-column: 1;
  display: flex;
  align-items: center;
}

.title-container {
  grid-column: 2/3;
}

h3.article-title {
  padding-left: 2vw;
  /* font-size: 2vh; */
  /* font-family: "Graduate", cursive; */
  color: rgb(4, 9, 135);
}

.source {
  padding-bottom: 1vw;
  display: grid;
}

p.source {
  width: 100%;
  font-size: 0.75rem;
  border-bottom: 3px solid rgb(4, 9, 135);
}

.news-logo {
  margin-top: 1vw;
  transition: 300ms;
}

.news-logo:hover {
  opacity: 70%;
  transition: 300ms;
}

img.news-logo {
  padding-left: 1.5vw;
}
@media screen and (max-width: 800px) {
  #news-container{
    max-width: 100%;
  }
  #latest-news {
    height:23.5vh;
  }
}
