#news-container {
  grid-area: news;
}

#latest-news {
  width: 100%;
  height:67.5vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-self: stretch;


}

#latest-news::-webkit-scrollbar {
  width: 20px;
}

#latest-news::-webkit-scrollbar-track {
  border-radius: 100px;
}

#latest-news::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

a {
  text-decoration: none;
  display: grid;
}

.logo-container {
  grid-column: 1;
  display: flex;
  align-items: center;
}

.title-container {
  grid-column: 2/3;
}

h3.article-title {
  padding-left: 2vw;
  /* font-size: 2vh; */
  /* font-family: "Graduate", cursive; */
  color: rgb(4, 9, 135);
}

.source {
  padding-bottom: 1vw;
  display: grid;
}

p.source {
  width: 100%;
  font-size: 0.75rem;
  border-bottom: 3px solid rgb(4, 9, 135);
}

.news-logo {
  margin-top: 1vw;
  transition: 300ms;
}

.news-logo:hover {
  opacity: 70%;
  transition: 300ms;
}

img.news-logo {
  padding-left: 1.5vw;
}
@media screen and (max-width: 600px) {
  #latest-news {
  max-height:27.5vh;
  }
}

