#podcast-container {
  grid-area: podcast;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#latest-podcast {
  width: 100%;
  max-height: 64.75vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#latest-podcast::-webkit-scrollbar {
  width: 20px;
}

#latest-podcast::-webkit-scrollbar-track {
  border-radius: 100px;
}

#latest-podcast::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

a {
  text-decoration: none;
  display: flex;
  align-items:center;
}

h3.podcast-title {
  padding-left: 1.5vw;
  /* padding-top: 1vw; */
  font-family: "Graduate", cursive;
  color: rgb(4, 9, 135);
}

.source {
  padding-bottom: 1vw;
  display: grid;
}

p.source {
  width: 100%;
  font-size: 0.75rem;
  border-bottom: 3px solid rgb(4, 9, 135);
}

.podcast-logo {
  margin-top: 1vw;
  transition: 300ms;
}

.podcast-logo:hover {
  opacity: 70%;
  transition: 300ms;
}

img.podcast-logo {
  padding-left: 1.5vw;
}
