#survey-container {
  grid-area: survey;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#survey-wrapper {
  min-height:25vh;
  padding: 0.5rem;
}

h1 {
  font-size: 1.2rem;
  padding-bottom: 1vw;
}
