#tiktok-container {
  grid-area: tiktok;
  width: 100%;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

#tiktok-wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 20px;
  padding-right: 20px;
}
#tiktok-embed {
  width: 100%;
}
#tiktok-embed p {
  padding: 0;
  font-style: italic;
  font-size: 1.5vh;
  padding-bottom: 5px;
}

#tiktok-embed p span {
  font-size: 2vh;
  font-style: normal;
  font-weight: 550;
  color: rgb(4, 9, 135);
}

#tiktok-wrapper::-webkit-scrollbar {
  width: 20px;
}

#tiktok-wrapper::-webkit-scrollbar-track {
  border-radius: 100px;
}

#tiktok-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

p.source {
  padding-left: 1.5vw;
  border-bottom: 3px solid rgb(4, 9, 135);
  width: 100%;
}

@media only screen and (max-width: 800px) {
  #tiktok-wrapper {
    height: 60vh;
  }
}
