#tweets-container {
  grid-area: twitter;
  margin:1rem;
}

#tweets-wrapper {
  height: 55vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#tweets-embed{
  margin:0.5rem;
}

#tweets-wrapper::-webkit-scrollbar {
  width: 20px;
}

#tweets-wrapper::-webkit-scrollbar-track {
  border-radius: 100px;
}

#tweets-wrapper::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}