#videos-container {
  grid-area: videos;
  width:100%;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  max-width: 40vh;
}

#latest-videos {
  max-height: 33vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* align-items:center; */
  padding-top: 1rem;
}

#latest-videos::-webkit-scrollbar {
  width: 20px;
}

#latest-videos::-webkit-scrollbar-track {
  border-radius: 100px;
}

#latest-videos::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: rgb(4, 9, 135);
}

.video-item h3 {
  color: rgb(4, 9, 135);
  font-size: 2vh;
}

.video-item{
  max-width:80%;
  margin-bottom: 1rem;
}

.video-item img{
  max-height:30vh;
}

.video-item .video-date {
  font-size: 1.1vh;
  font-style:italic;
  margin:0;
  padding:0;
  border-bottom: 3px solid rgb(4, 9, 135);
}
/* Media Query for Mobile Device Design */

@media only screen and (max-width: 600px) {
  #latest-videos {
    display: flex;
    align-items: center;
    
  }
}
@media only screen and (max-width: 800px) {
  #latest-videos {
    display: flex;
    align-items: center;
    max-height: 48vh;
    
  }
  #videos-container {
    max-width:100%
  }
}