/* -------------BULLETIN GRID STYLING-------------- */
#grid {
  display: grid;
  justify-content: center;
  width: 85%;
  margin-top: 1rem;
  margin-left: auto;
  margin-right:auto;
  margin-bottom:0;
  gap:1rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "feat  feat feat feat news news"
    "feat  feat feat feat news news"
    "googlead2 googlead2 googlead2 googlead2 googlead2 googlead2"
    "twitter twitter instagram instagram survey survey"
    "twitter twitter instagram instagram . ."
    "googlead googlead googlead googlead googlead googlead";
}

@media only screen and (max-width: 500px) {
  #grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* default container styling */

.container-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #040762;
  color: #ffffff;
  border-top: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
  padding: 0.5rem;
}

.container-header h2 {
  font-family: "Graduate";
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}

.container-content {
  background: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}
