/* head & nav css */
#head-style {
  background: white;
  border: 2px solid white;
  /* border-left: 2px solid #866D4B; */
  /* subtle change allowing visual distinction between "page" and header */
  border-bottom: 1px solid rgba(255, 201, 92, 0.969);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgb(4, 9, 135);
  height: 20vh;
}

.atr-logo {
  width: 12vw;
  margin-left: -1vw;
  max-height:20vh;
}

.atr-logo:hover {
  cursor: url('football_small.png'), pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  text-decoration: none;
}

.title-and-disclaimer {
  display: flex;
  flex-direction: column;
}

.title-and-disclaimer h1 {
  font-family: "Graduate", cursive;
  color: rgb(4, 9, 135);
  font-size: calc(1.5rem + 2vw);
  margin: 0;
  margin-left: -1.5vw;
  padding: 0;
}

#disclaimer {
  color: black;
  padding: 0;
  margin: 0;
  font-size: calc(0.3rem + 0.7vw);
  font-style: italic;
  margin-left: -1.5vw;
}

/* nav css */
#nav-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

/* style for links */
.navItem {
  font-size: calc(0.5rem + 0.5vw);
  color: rgb(4, 9, 135);
  font-family: "Graduate";
  text-decoration: none;
  display: block;
  position: relative;
  padding: 0.5em 0;
  overflow: hidden;
}

/* nav .navItem
 animation */

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: rgb(255, 223, 83);
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.navItem:hover::after,
.navItem:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/* MOBILE MENU RENDERING */

/* ---------- DONATION BUTTON STYLING ----------  */
/* #donate-button {
  padding: 0.3rem;
  border: 0.2em solid rgb(4, 9, 135);
  border-radius: 3px;
  transition: border-color 0.2s ease-in;

  display: inline-block;
  position: relative;

}

#donate-button:hover{
  border-color: rgb(255, 223, 83);
}

#donate-button::after{
  all: initial;
}

#donate-button:hover::after{
  all: initial;
} */

/* ---------- DONATION BUTTON STYLING ----------  */

button {
  text-decoration: none;
  border: none;
  background-color: white;
  font-family: "Graduate";
  font-size: 1.1vw;
  color: rgb(4, 9, 135);
}

#dropbtn {
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 6vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
  /* Think we need space around the words */
  padding: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
/* style for dropdown links */
.dropdown-content a {
  font-size: 0.9vw;
  color: rgba(4, 8, 135, 0.527);
  text-decoration: none;
  position: relative;
  padding: 0.5em 0;
  overflow: hidden;
}

/* nav .navItem
 animation */

.dropdown-content a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3em;
  background-color: rgb(4, 9, 135);
  transition: opacity 800ms, transform 0.75s;
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.dropdown-content a:hover::after,
.dropdown-content:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

/* Media Query --- need to condense nav bar to make usable */

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 40px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: rgb(4, 9, 135);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}


#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
.menu-button {
  background: rgb(4, 9, 135);
}

#menu-toggle:checked {
  margin-top: 0px;
  transform: rotate(-405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 1000px) {
  /* .li {
    display: none;
  } */
  #menu-toggle:checked.navItem {
    display:flex;
  }
  
  .menu-button-container {
    display: flex;
  }
  .menu {
    display:none;
    top: 17vh;
    left: 0;
    position:absolute;
    /* flex-direction: column; */
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu {
    display:flex;

  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    display:flex;
    border: 1px solid white;
    height: 1.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: rgba(255, 201, 92, 0.969);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
