#survey-container {
  grid-area: survey;
  width:100%;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
  /* max-height: 40vh; */
  overflow:hidden;
  max-height:100%
}

#survey-wrapper {
  /* min-height:30vh; */
  padding: 0.5rem;
}

#voted-survey-wrapper{
  /* min-height:30vh; */
  padding: 0.5rem;
}

#voted-survey-wrapper span{
  visibility:hidden;
}

#survey-wrapper .results{
  display: none;
}

#voted-survey-wrapper .results{
  display:flex;
  flex-direction: column;
}

#voted-survey-wrapper .result{
  color: rgb(4, 9, 135);
  font-weight:600;
}

#voted-survey-wrapper .results p{
  margin: 0.2rem;
}


h1 {
  font-size: 1.2rem;
  padding-bottom: 1vw;
}


