/* CSS Changes by element */

/* Submit an article for review */
#article-title {
  font-family: "Graduate", cursive;
  font-size: 2vw;
  color: rgb(4, 9, 135);
}

/* Wrap entire contents */
#outside-article-wrapper {
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 60%;
  /* background-color: white; */
}

#article-container {
  margin: auto;
  border-radius: 5px;
}

/* contains text and form */
.article-wrapper {
  background-color: white;
  padding: 2vw;
  border-radius: 5px;
  justify-content: center;
}
#submission-instructions {
  max-width: 53vw;
  margin: auto;
}
/* submission text */
#submission-instructions p {
  font-size: 1vw;
  text-align: justify;
  line-height: 1.75vw;
}

#send-submission {
  font-size: 1vw;
  margin-top: 2vw;
}

#submission-email {
  border: solid 3px #ffc95c;
  border-radius: 5px;
  padding: 0.4vw;
  width: 15vw;
  margin-top: -0.25vw;
}

/* IPAD */
@media screen and (max-width: 800px) {
  #submission-email {
    min-width: 30vw;
  }
  #submission-instructions p {
    font-size: 2vw;
    line-height: 3vw;
  }
  #submission-instructions {
    min-width: 70vw;
    margin: auto;
  }
  #outside-article-wrapper {
    width: 80%;
  }
  #article-title {
    font-size: 3vw;
  }
  #send-submission {
    font-size: 2vw;
  }
}

/* IPHONE X */
@media screen and (max-width: 600px) {
  #submission-email {
    min-width: 45vw;
  }
  #submission-instructions p {
    font-size: 3vw;
    line-height: 4vw;
  }
  #outside-article-wrapper {
    width: 80%;
  }
  #submission-instructions {
    min-width: 70vw;
    margin: auto;
  }
  #article-title {
    font-size: 4vw;
  }
  #send-submission {
    font-size: 3vw;
  }
}
