/* -------------BULLETIN GRID STYLING-------------- */
#grid {
  display: grid;
  width:80vw;
  margin:0 auto;
  grid-template-areas:
  "video video video survey"
  "video video video googlead"
  "news news news instagram"
  ". . . twitter";
}

/* default container styling */

.container-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #040762;
  color: #ffffff;
  border-top: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
  padding: 0.5rem;
}

.container-header h2 {
  font-family: "Graduate";
  font-size: 1.75vw;
  margin: 0;
  padding: 0;
}

.container-content {
  min-height:30vh;
  background: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(235, 235, 235);
  border-left: 2px solid rgb(235, 235, 235);
  border-right: 2px solid rgb(235, 235, 235);
}
