/* Page Container */
#about {
  margin: auto;
  width: 90vw;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-bottom: 4vw;
}
/* About All Things Rams */
#about-title {
  font-family: "Graduate", cursive;
  font-size: 2vw;
  color: rgb(4, 9, 135);
}
/* About Paragraph */
#about-head p {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25vw;
  line-height: 2vw;
  text-align: justify;
  margin-left: auto;
  /* margin-Right: 1.5vw; */
}
#about-head {
  margin: 0 auto;
  padding: 3.5vw;
}
#about-wrapper {
  display: flex;
}
/* Our Team */
#team-wrapper {
  margin: 0 auto;
  margin-top: 10vw;
}
#team-wrapper h2 {
  font-family: "Graduate", cursive;
  color: white;
  background-color: rgba(3, 7, 124);
  padding: 0.5vw;
  border-radius: 5px;
  font-size: 1.5vw;
  margin: auto;
  margin-right: 3.5vw;
}
/* Team member about paragraph */
.staff-about {
  margin: auto;
}
/* Team member name */
.team-name {
  font-size: 1.5vw;
  padding-left: 1vw;
  border-bottom: 3px solid #ffc95c;
  padding-bottom: 1vw;
  margin-right: 4vw;
}
.staff-about p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  width: 30vw;
  line-height: 1.5vw;
  margin-right: 5vw;
  margin-left: 1vw;
  font-size: 1.25vw;
  line-height: 2vw;
}
/* Right column container for image and text */
.staff {
  display: flex;
  margin: auto;
}
/* Photograph of team member */
.about-photo {
  max-width: 15vw;
  margin: 1vw;
  border: 3px solid rgba(255, 201, 92);
  border-radius: 10px;
  margin-top: 1.5vw;
}

/* ---------- Media Query --------- */

@media screen and (max-width: 800px) {
  #about-wrapper {
    display: block;
  }
  #about-title {
    font-size: 3vw;
  }
  .staff-about p {
    font-size: 2vw;
    line-height: 3vw;
    width: 85%;
    margin: auto;
    padding-right: 3vw;
  }
  #about-head p {
    font-size: 2vw;
    line-height: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .team-name {
    font-size: 2.5vw;
    margin-top: 4vw;
  }
  #team-wrapper {
    margin-left: 4vw;
  }
  #team-wrapper h2 {
    font-size: 3vw;
    padding: 1vw;
    margin-top: -10vw;
  }
  .about-photo {
    max-width: 25vw;
  }
}

@media screen and (max-width: 600px) {
  #about-wrapper {
    display: block;
  }
  #about-title {
    font-size: 4vw;
    margin-left: 4vw;
  }
  .staff-about p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    width: 85%;
    margin: auto;
    padding-right: 3vw;
    margin-top: 4vw;
  }
  #about-head p {
    font-size: 3.5vw;
    line-height: 4.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
  .staff {
    display: block;
  }
  .team-name {
    font-size: 3.5vw;
    margin-top: 5vw;
  }
  #team-wrapper {
    margin-left: 4vw;
  }
  #team-wrapper h2 {
    font-size: 4vw;
    padding: 1vw;
    margin-top: -1vw;
  }
  .about-photo {
    max-width: 60vw;
    margin-left: 10vw;
  }
}
