/* Changes by element and class */
p.tp-content {
  font-size: 1vw;
  text-align: justify;
  line-height: 1.75vw;
}
/* Changes by id */
#tp-section {
  padding-bottom: 2vw;
}
/* Content Container */
#tp-wrapper {
  width: 60%;
  background-color: white;
  margin: 0 auto;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Privacy Policy / Terms of Use Wrapper  */
#tp-title-wrapper {
  font-size: 1vw;
  color: rgb(4, 9, 135);
  margin-left: 3vw;
  padding-top: 1.5vw;
}

#terms-date {
  padding-top: 1.5vw;
}

/* Changes by Class */

/* Paragraph content */
.tp-content {
  margin: 2vw 3vw 1.5vw 3vw;
}
/* Subtitles */
.tp-subtitle {
  margin-left: 3vw;
  font-size: 1.1vw;
}

/* Contact details contianer */
.terms-contact {
  margin-top: 2vw;
  margin-bottom: -1vw;
}

/* Contact details content */
.tp-contact {
  margin-left: 5vw;
  font-size: 1vw;
  margin-top: -0.75vw;
}



/* Ipad */
@media screen and (max-width: 800px) {
  p.tp-content {
    font-size: 2vw;
    text-align: justify;
    line-height: 3vw;
  }
  #tp-list {
    font-size: 3vw;
    margin-left: -1.5vw;
  }
  #tp-wrapper {
    width: 75%;
    min-height: 60vw;
  }
  #tp-title {
    font-size: 2.5vw;
  }
  .tp-subtitle{
    font-size: 2vw;
  }
  .terms-contact {
    margin-top: 3vw;
    margin-bottom: -1vw;
  }
  .tp-contact {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}

/* Iphone */
@media screen and (max-width: 600px) {
  p.tp-content {
    text-align: justify;
    font-size: 3vw;
    line-height: 4vw;
  }
  #tp-list {
    font-size: 3vw;
    margin-left: -1.5vw;
  }
  #tp-wrapper {
    width: 80%;
    min-height: 60vw;
  }
  #tp-title {
    font-size: 4vw;
  }
  .tp-subtitle{
    font-size: 3.5vw;
  }
  .terms-contact {
    margin-top: 6vw;
    margin-bottom: -1vw;
  }
  .tp-contact {
    font-size: 3vw;
    line-height: 2vw;
  }
}

