/* Structure of page */
#socials-grid {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

@media screen and (max-width: 800px) {
  #socials-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Twitter */
  #twitter-bulletin {
    justify-content: center;
    margin-right: 1vw;
    margin-top: 3vw;
  }
  #insta-bulletin {
    margin-top: 3vw;
  }
}

/* Instagram */
#insta-bulletin {
  /* had to make equal to twitter width or would not display correctly on mobile view */
  min-width: 60vh;
  justify-content: center;
  margin-right: 1vw;
}
/* Twitter */
#twitter-bulletin {
  /* This must have a width or it does that odd loading glitch */
  width: 60vh;
  justify-content: center;
  margin-right: 1vw;
}
.ad-space {
  margin-right: 1vw;
  margin-top: 3vw;
  
}
