body {
  height: 100vh;
  margin: 0;
  padding: 0;
}
/* app body css */
main {
  /* border: 1px solid red; */
  background: linear-gradient(
    90deg,
    rgb(255, 214, 92),
    rgb(255, 219, 112),
    rgb(255, 214, 92)
  );
  width: 100%;
}

/* Use Graduate font for Titles and Headers */
/* Main body text and paragraphs should use sans-serif font */

